{% extends "base.html" %}
{% load static %}
{% block title %}Index{% endblock %}
{% block content %}
<div class=row>
    <h1>Create yor user</h1>
    <input type="file" id="input_file" />
    <p>Please select an image file</p>
    <img id="preview" src="{% static }}" />

    <form method="POST" action="{% url 'upload:index' %}">
        {% csrf_token %}
        <input type="hidden" id="avatar-url" name="avatar-url" value="/static/default.png">
        <input type="text" name="description" placeholder="description">
        <input type="submit" value="Save Image">
    <form>
</div>


{% endblock %}