{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                 <a class="navbar-brand" href="#">Upload S3 Files</a>
                 {% if request.user.is_authenticated %}
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li {% if section == dashboard %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
                                <a class="nav-link" href="{% url 'seed:dashboard' %}">Dashboard</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% if request.user.is_authenticated %}
                                        Hello {{ request.user.username }}
                                    {% else %}
                                        <a href="{% url 'login' %}">Login</a>
                                    {% endif %}
                                </a>
                                {% if request.user.is_authenticated %}
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                    </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </nav>
        </div>
        <div class="container">
       {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block javascript %}
        {% endblock %}
        <script>
         //   var csrf_token = Cookies.get('csrf_token');
         //   function csrfSafeMethod(method){
                //These http methods do not require CSRF protection
        //        return(/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
           // }
           // $.ajaxSetup({
        //        beforeSend: function(xhr, settings){
         //           if(!csrfSafeMethod(settings.type) && !this.crossDomain){
          //              xhr.setRequestHeader("X-CSRFToken", csrf_token);
        //            }
         //       }
          //  });
            $(document).ready(function(){
                {% block domready %}
                {% endblock %}
            });
        </script>
            